<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/resetStyle.css">
    <link rel="stylesheet" href="/styles/calculatorStyle.css">
    <title>Taschenrechner</title>
</head>
<body>
    <div id="main">
        <div id="Display"></div>
        <div id="BtnDiv">
            <div class="BtnRow">
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
            </div>
            <div class="BtnRow">
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
            </div>
            <div class="BtnRow">
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
            </div>
            <div class="BtnRow">
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
            </div>
            <div class="BtnRow">
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
            </div>
            <div class="BtnRow">
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
                <button class="Btn"></button>
            </div>
        </div>
    </div>
</body>
</html>