<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/resetStyle.css">
    <link rel="stylesheet" href="/styles/calculatorStyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Taschenrechner</title>
</head>
<body>
    <div id="main">
        <div id="Display"></div>
        <div id="BtnDiv">
            <div class="BtnRow">
                <button class="Btn DarkBtn">%</button>
                <button class="Btn DarkBtn">CE</button>
                <button class="Btn DarkBtn">C</button>
                <button class="Btn DarkBtn"><i class="material-icons">backspace</i></button>
            </div>
            <div class="BtnRow">
                <button class="Btn DarkBtn">&#185;/𝓍</button> <!-- Hoch 1 Zeichen -->
                <button class="Btn DarkBtn">𝓍²</button>
                <button class="Btn DarkBtn">√(2&x)</button>
                <button class="Btn DarkBtn">&#247;</button> <!-- Division Zeichen -->
            </div>
            <div class="BtnRow">
                <button class="Btn">7</button>
                <button class="Btn">8</button>
                <button class="Btn">9</button>
                <button class="Btn DarkBtn">&#10005;</button> <!-- Multiplikation Zeichen -->
            </div>
            <div class="BtnRow">
                <button class="Btn">4</button>
                <button class="Btn">5</button>
                <button class="Btn">6</button>
                <button class="Btn DarkBtn">-</button> 
            </div>
            <div class="BtnRow">
                <button class="Btn">1</button>
                <button class="Btn">2</button>
                <button class="Btn">3</button>
                <button class="Btn DarkBtn">+</button>
            </div>
            <div class="BtnRow">
                <button class="Btn">+/-</button>
                <button class="Btn">0</button>
                <button class="Btn">,</button>
                <button class="Btn">=</button>
            </div>
        </div>
    </div>
</body>
</html>