<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cssReset.css">
    <link rel="stylesheet" href="/styles/loginStyle.css">
    <title>Taschenrechner Login</title>
</head>
<body>
    <!-- Main / Div -->
    <main>
        <!-- Container -->
        <div id="container">
            <!-- Header -->
            <div id="topic">
                <div class="layout">
                    <h1>Login - Taschenrechner</h1>
                </div>
            </div>
            <div id="formDiv">
                <!-- form -->
                <form id="form" action="/users/login" method="post">
                    <div class="formContainer">
                        <label for="username">Benutzername</label>
                        <input type="text" id="username" name="username" placeholder="Hier ihr Benutzername eingeben..." required>
                    </div>
                    <div class="formContainer">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Hier ihr Password eingeben..." required>
                    </div>

                    <div id="regDiv">
                        <p>Noch kein Konto?</p>
                        <a href="signup">Jetzt Registrieren</a>
                    </div>

                    <!-- Error Container -->
                    <div id="errDiv"></div>
                    
                    <!-- Button Container -->
                    <div id="formBtnContainer">
                        <input type="submit" class="formBtn" id="loginBtn" value="Anmelden">
                        <input type="reset" class="formBtn" id="resetFormBtn" value="Zurücksetzen">
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>