<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/resetStyle.css">
    <link rel="stylesheet" href="/styles/loginStyle.css">
    <title>Taschenrechner Login</title>
</head>
<body>
    <div id="loginDiv">
        <h1>Taschenrechner Login</h1>
        <div id="errorMessageDiv">
            
        </div>
        <div id="formDiv">
            <div class="loginDiv" id="usernameDiv">
                <label for="username">Benutzername</label>
                <input type="text" id="username" name="username" required placeholder="Hier ihr Benutzername eingeben...">
            </div>
            <div class="loginDiv" id="passwordDiv">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Hier ihr Password eingeben...">
            </div>
            <p>Noch kein Konto? <a href="signup.ejs">Jetzt Registrieren</a></p>
        </div>
        <div id="btnDiv">
            <button class="Btn">Anmelden</button>
            <input type="reset" class="Btn" id="resetBtn">Zurücksetzen</input>
        </div>
    </div>
</body>
</html>