<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/resetStyle.css">
    <link rel="stylesheet" href="/styles/signupStyle.css">
    <title>Taschenrechner Signup</title>
</head>
<body>
     <div id="signupDiv">
        <h1>Taschenrechner Signup</h1>
        <div id="errorMessageDiv">
            
        </div>
        <form id="form">
            <div class="signupDiv" id="usernameDiv">
                <label for="username">Benutzername</label>
                <input type="text" id="username" name="username" required placeholder="Hier ihr Benutzername eingeben...">
            </div>
            <div class="signupDiv" id="passwordDiv">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Hier ihr Password eingeben...">
            </div>
            <p>Bereits ein Konto? <a href="../index.ejs">Jetzt Anmelden</a></p>
            <div id="btnDiv">
                <input type="submit" class="Btn" id="signupBtn" value="Registrieren">
                <input type="reset" class="Btn" id="resetBtn" value="Zurücksetzen">
            </div>
        </form>
    </div>
</body>
</html>