html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(48, 46, 46);
}

#main {
    width: 81%;
    height: 100%;
    padding: 20px;
    float: left;
}

#Display {
    height: 30%;
}

#BtnDiv {
    height: 70%;
}

.BtnRow {
    height: 16%;
    margin-top: 4px;
}

.Btn {
    width: 24.8%;
    height: 100%;
    font-size: 30px;
    color: white;
    background-color: #575252;
    border-radius: 10px;
    transition: all 0.25s;
}

.Btn:hover {
    background-color: rgb(59, 56, 56);
    transition: all 0.25s;
}

.Btn:active {
    background-color: rgb(48, 46, 46);
    transition: all 0.25s;
}

.DarkBtn {
    background-color: rgb(59, 56, 56);
}

.DarkBtn:hover {
    background-color: #575252;
    transition: all 0.25s;
}

#calculateBtn {
    background-color: rgb(177, 125, 177);
}


#historyDiv {
    width: 18%;
    height: 100%;
    border-left: 2px solid black;
    float: left;
}

#historyDiv h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
}

#historyDiv button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #575252;
    transition: all 0.25s;
}

#historyDiv button:hover {
    background-color: rgb(59, 56, 56);
    transition: all 0.25s;
}

#historyDiv button:active {
    background-color: rgb(48, 46, 46);
    transition: all 0.25s;
}