html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(48, 46, 46);
}

#main {
    height: 100%;
    padding: 20px;
}

#Display {
    height: 25%;
}

#BtnDiv {
    height: 75%;
}

.BtnRow {
    height: 16%;
    margin-top: 4px;
}

.Btn {
    width: 24.8%;
    height: 100%;
}